body, html {
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.swiper-container#swiper-container-h {
    height: 100%;
    position: fixed;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/
    overflow: hidden;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide-h {
    /*background-color: #dedede;*/
}

.swiper-container-v {
    height: 100vh;
}

.slide-v-container {
    /*height: 90%;*/
    border-width: 5px;
    border-style: solid;
    border-color: white;
    background-color: white;
    box-shadow: 0 0 10px 0 #8080806e;
}

.slide-img {
    height: 300px;
    width: 300px;
    object-fit: cover
}

@media only screen and (max-width: 640px) {
    /*600px and down*/
    .slide-img {
        height: 45vw;
        width: 45vw;
    }
}
@media only screen and (min-width: 640px) {
    /*640px and up*/
    .slide-img {
        height: 20vw;
        width: 20vw;
    }
}
@media only screen and (min-width: 1024px) {
    /*1440px and up*/
    .slide-img {
        height: 14vw;
        width: 14vw;
    }
}

.dot-bg {
    position: fixed;
    background:
            linear-gradient(90deg, #FBFBFB 19px, transparent 1%) center,
            linear-gradient(#FBFBFB 19px, transparent 1%)
            center,
            #E4E4E4;
    background-size: 22px 22px;
    /*enlarge the bg so that we can make some effect*/
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.float-text {
    position: absolute;
    top: 17vh;
    left: 6vw;
    width: 30vw;
    z-index: 10000;
}

.float-text--content {
    position: relative;
    background-color: #ffffff99;
    /* padding-top: 10px; */
    padding: 10px;
    top: -10px;
    left: 20px;
    height: 20vh;
    border-style: solid;
    border-color: #00000033;
}

.float-text--header {
    padding-left: 0.5em;
    font-family: sans-serif;
    color: white;
    background-color: #77777745;
    text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
}

.nav-arrow {
    position: fixed;
    width: 3vw;
    /*extra margin*/
    padding-left: 1vw;
    /*svg color*/
    fill: rgba(0, 0, 0, 0.35);
}
